.box{ 
    /* border: solid 2px; */
    /* display: inline-block; */
    width: 250px;
    padding-top: 8px;
    margin-top: 480px;
    margin-left: 675px;
    /* position: static; */
} 
/* #bn{
    display: inline-block;
    position: absolute;
    margin-top: 0px;
    margin-left: 150px;
} */