<!-- <div class="box">
<input type="number" style="background-color: bisque; display: inline-block; width: 120px;overflow: hidden;"><br>
<input type="submit" value="Bid" style="width: 40%;background-image:linear-gradient(to right,#e6e8e8, #02f2d2);color:black;border-radius:5px;float:right">
</div> -->

<div class="box">
<input type="submit"value="Bid" style="float: right;width: 30%;background-image:linear-gradient(to right,#e6e8e8, #02f2d2);" />
<div style="overflow: hidden; padding-right: .5em;">
   <input type="text" style="width: 100%;" />
</div>
</div>