
<div>
<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <div class="container-fluid">
    <img src="/assets/images/CTLSS.png" alt="logo" width="70px" style="filter: invert(100%);">
    <!-- <span class=" font-weight-bold">CryptoCity</span> -->
    <a class="navbar-brand" style="font-size:26px">CryptoCity</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" style="font-size:18px">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="MarketPlace" style="font-size:18px">MarketPlace</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="drop" style="font-size:18px">Drop</a>
        </li>
        <li class="nav-item active" active  >
          <a class="nav-link" routerLink="" style="font-size:18px">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" style="font-size:18px">About</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link"  (click)="logout()" style="font-size:18px">Log out</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" >Action</a>
            <a class="dropdown-item" >Another action</a>
            <a class="dropdown-item" >Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" >Separated link</a>
          </div>
        </li> -->
      </ul>
      <!-- <form class="d-flex" style="width: 40%;"> -->
        <!-- <input class="form-control me-lg-2" type="text" placeholder="Search" style="border-radius:50px;" [(ngModel)]="search" (input)="onSearchTextChanged()">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" style="width: 20%;background-image:linear-gradient(to right,#d438ff, #2a02f2);border-radius:50px;">Search</button> -->
      <!-- </form> -->
    </div>
  </div>
</nav>
<div style="background-image: linear-gradient(to right, #2e00e8, #7c0000);color:#2e00e8">1</div>
<router-outlet></router-outlet>
</div>