
.navbar{
    background-image: linear-gradient(to right, #0f0049, #000000);
    padding-top: 20px;
    padding-bottom: 20px;
    color:white
}
.navbar-light .navbar-nav .nav-link{
    color:aqua;
    font-size: 18px;
}
.navbar-light  .navbar-nav .nav-link:hover{
    text-decoration:underline ;
}
