 body{
    border: solid 2px;
    height: 5000px;
    overflow:scroll;
color: white;
    /* position:fixed; */
}

.box{
    color: black;
    margin-top:10px;
    

    left: 30%;
    /* display: inline-block; */
    border-radius: 20px;
    /* position: fixed; */
}

.detailbox{
    color: green;
   /* padding-left: 50%; */
   /* padding-bottom: 20%; */
   float: right;
}

/* .detailbox{
    color: black;
} */
#rank{
    border-radius: 10px;
    background-image: linear-gradient(to right, #1167e7, #3602f2);
    color:white;
    margin-bottom: 12px;
}
#xman{
    height: 15px;
    display: inline-block;

}
#xman a{
    height: 15px;
    
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}
.column img {
    border-radius: 20px;
    height: 400px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    width:80%;
    margin: 100px;
}

.symbol img {
    border-radius:50%;
    height: 40px;
}
.bid{
    margin-top: 15px;
}
.bid button{
    margin-top: 15px;
}
/* #show{
    margin-left: 15px;
    width:600px;
} */

/* .bid {
    border: solid 2px;
    margin-left: 60%;
    margin-top: 450px;
    padding: 10px;
    display: inline-block;
    position: fixed;
    width: 720px;
}

.bid img {
    height: 70px;
    display: inline-block;
}

.bid h3 {
    display: inline-block;
    margin-left: 20px;
}

.bid button {
    margin-right: 0px;
} */
/* 
.symbol{
    margin-left: 650px;
    margin-top: 200px;
    position: absolute;
    display: inline-block;   
}
.symbol img{
    height: 35px;
}
.symboltext{
    margin-left: 700px;
    margin-top: 195px;
    position: absolute;
    display: inline-block;
    line-height: 20px; 
}
.symboltext span{
    margin-top: 201px;
    font-size: smaller;
}
.rank{
    margin-left: 650px;
    margin-top: 250px;
    position: absolute;
    display: inline-block;
}
button{
    background-color: aqua;
    border-radius: 5px;
}
h1{
    margin-left: 650px;
    margin-top: 300px;
    position: absolute;
    display: inline-block;
}
h5{
    color: cadetblue;
    margin-left: 650px;
    margin-top: 350px;
    position: absolute;
    display: inline-block;
}
.bid{
    border: solid 2px;
    margin-left: 650px;
    margin-top: 450px;
    padding: 10px;
    display: inline-block;
    position: absolute;
    width: 720px;
}
.bid img{
    height: 70px;
    display: inline-block;
}
.bid h3{
    display: inline-block;
    margin-left: 20px;
}
.bid button{
    margin-right: 0px;
}*/



.footer1 {
    /* position:fixed; */
    bottom: 0;
    width: 100%;
    height: 75px;
    padding-top: 20px;
    background-color: rgb(53, 0, 76);
    color: white;
    text-align: center;
    vertical-align: center;
    margin-top: 200px
} 
