<section>
<div class="box" style="color: white;background-image:linear-gradient(to top, #ffffff, #8567f2);">
    <div class="row">
        <div class="column">
            <img src={{body.imgpath}} class="img-circle detailbox" alt="Cinque Terre">
        </div>
        
            <div class="column" id='xman'>
                <a href="#"><span>&larr;</span> Back</a>
                <p></p>
                    <div>
                        <p>Chain : <b>Cronos</b></p>
                    </div>
                <div class="symbol">
                    <img src="/assets/images/image2.jpg" alt="logo"> Creator
                    &nbsp;
                    <img src={{body.imgpath}} alt="image"> Owner
                    <p></p>
               
                <button id="rank">Rank: {{body.rank}}</button>
                <div class="">
                    <span>
                        <h3>{{body.product_name}} #{{body.hash}}</h3>
                
                    </span>
                </div>
                <div class="clock">
                <app-digital-clock></app-digital-clock>
                <p></p>
                <div class="price">
                  Current Price : $  {{price}}
                </div>
                <p></p>
                </div>
                <div class="bid">
                      
                            <!-- <h3>{{body.product_name}} #{{body.hash}}</h3> -->
                        <input class="form-control me-lg-2" type="text" placeholder="Search" [(ngModel)]="price" style="border-radius:50px;height: 50px;width: 400px;">
                        <p></p>
                        <button id="show" class="btn btn-secondary my-2 my-sm-0" type="submit" 
                            style="width: 30%;height:50px; background-image:linear-gradient(to right,#d438ff, #2a02f2);color:white; text-align: center;"
                            (click)="bidUp(body.cardid,price)">Place Bid</button>
                    </div>
                    
                
                </div>
            </div>
      
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
    
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">you placed your bid</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>lets wait for AUCTION to end</p>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-primary" routerLink="/" (click)="hide()">Log in</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" routerLink="/register"
                        (click)="hide()">Sign up</button>
                </div> -->
            </div>
    
        </div>
    </div>
    <div class="footer1">
        <img src="/assets/images/twitter.png" alt="twitter" height="40" width="55">&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="/assets/images/instagram.png" alt="instagram" height="40" width="52">&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="copyright">&copy; Copyright 2022 CryptoCity - Made with &hearts; by Team 1</span>
    </div>

   
    <!-- <div class="btn">
        <a href="#"><span>&larr;</span> Back</a>
    </div> -->




</div>




</section>

   

