/* :host{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #bbe1fa;
} */
p{
    font-size: 13px;
}
.digitalclock{
    position:relative;
    width: 320px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 187, 223);
    border: 20px solid white;
    border-radius: 10px;
    box-shadow: inset 0 0 15px black;
                     
    font-size: 24px;
    text-transform: uppercase;




    
}

.dayTitle{
    font-size: 20px;
    margin-bottom: 10px;

}
.digitalTime{
    display: flex;
}
.ampm{
    margin-top: 5px;
    font-size: 20px;
}