<p>AUCTION ENDS IN</p>
<div class="digitalclock">
  
    <div class="dayTitle">
    {{day}}
    </div>
    <div class="digitalTime">
        <div>{{hour}} : &nbsp;</div>
        <div>{{minute}} : &nbsp;</div>
        <div>{{second}} : &nbsp;</div>
        <div class="ampm">{{ampm}}</div>

    </div>
</div>
