<!-- <app-header (searchText)="onSearchTextEntered($event)"></app-header> -->
<html>
<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'>
</header>


<body >
<!-- <p></p> -->
    <section class="marketplace">
       
        <div class="search container">
            <input class="form-control me-lg-2" type="text" placeholder="Search yor favourite NFTs" style="border-radius:50px;"
                [(ngModel)]="searchText">
            <!-- <button class="btn btn-secondary my-2 my-sm-0" type="submit"
                                    style="width: 20%;background-image:linear-gradient(to right,#d438ff, #2a02f2);border-radius:50px;">Search</button> -->
        </div>
        <p></p>
        <div class="heading">
            <h5> Top Collection</h5>
        </div>
       
       



        <div class="row">
            <div class="col-md-2" *ngFor="let mobile of mobiles" (click)="channelDetails(mobile)">
                <div *ngIf="searchText == '' || mobile.username.toLowerCase().includes(searchText)">
                    <div class="image-center" id="channel">
                        <img src={{mobile.imagepath}} width="100%" height="180px">
                    </div>
                    
                    <div style="display:inline-block;vertical-align:top;">
                        <img src={{mobile.userlogo}} width="39px">&nbsp; &nbsp;
                    </div>
                    <div style="display:inline-block; padding-top: 7px;">
                        <p>{{mobile.username}}</p>
                    </div>
                </div>
                
            </div>
        </div>

        <br>
        <br>
    </section>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" (click)="openModal()">Open
    Modal</button> -->

<!-- Modal -->
<!-- <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        
    </div>
</div> -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Sign In</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>you have not logged in</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" routerLink="/" (click)="hide()" >Log in</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" routerLink="/register" (click)="hide()">Sign up</button>
        </div>
    </div>

    </div>
</div>
    <section class="explore">
        <h4 class="heading">Explore</h4>
        <div class="row">
            <div class="col-md-3" *ngFor="let card of cards" (click)="nftDetails(card)">
                <div class="cart"  *ngIf="searchText == '' || card.product_name.toLowerCase().includes(searchText) || card.productdomain.toLowerCase().includes(searchText) " >
                    <div class="image-center" id="channel">
                        <img src={{card.imgpath}} width="100%" height="300px">
                    </div>

                    <div class="card-body">
                        <h6 class="card-title">{{card.productedition}}</h6>&nbsp;
                        <h4 class="card-price">{{card.product_name}}</h4>
                        <p class="card-text">price : $ {{card.productprice}}</p>
                        <h6 class="card-title">{{card.productdomain}}</h6>&nbsp;
                    </div>
                </div>


            </div>
        </div>
    </section>
    <div class="global">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-3">
                    <h6>Crypto City</h6>
                    <p>Non-fungible tokens (NFTs) are cryptographic assets on a blockchain with unique identification
                        codes and metadata that distinguish them from each other.</p>
                </div>

                <div class="col-sm-6 col-md-2">
                    <h6>Services</h6>
                    <ul>
                        <li><a href="#">Email Marketing</a> </li>
                        <li><a href="#">Campaigns</a> </li>
                        <li><a href="#">Branding</a> </li>
                        <li><a href="#">Offline</a> </li>
                    </ul>
                </div>

                <div class="col-sm-6 col-md-2">
                    <h6>About</h6>
                    <ul>
                        <li><a href="#">Our Story</a> </li>
                        <li><a href="#">Benefits</a> </li>
                        <li><a href="#">Team</a> </li>
                        <li><a href="#">Careers</a> </li>
                    </ul>
                </div>

                <div class="col-sm-6 col-md-2">
                    <h6>Legal</h6>
                    <ul>
                        <li><a href="#">Terms & Conditions</a> </li>
                        <li><a href="#">Privacy Policy</a> </li>
                        <li><a href="#">Terms of use</a> </li>
                    </ul>
                </div>

                <div class="social">
                    <h6>Follow us</h6>
                    <a href="#"><i class="fa fa-facebook"></i> </a>
                    <a href="#"><i class="fa fa-twitter"></i> </a>
                    <a href="#"><i class="fa fa-snapchat-ghost"></i> </a>
                    <a href="#"><i class="fa fa-instagram"></i> </a>
                    <a href="#"><i class="fa fa-google-plus"></i> </a>
                </div>

            </div>
            <p class="copyright"> &copy; Copyright All rights reserved. </p>
        </div>
    </div>




</body>

</html>



