.marketplace .heading {
    padding-left: 25px;
}

.marketplace .heading .row {
    padding-left: 25px;
}

.marketplace {
    background-image: linear-gradient(to right, #55007c, #16006d);
    color: white;
}

#channel {
    background-image: linear-gradient(to right, #FFD54F, #D500F9);
    border-radius: 15px;
}

/* .marketplace .row{
  background-color: white;
  color: black;
} */
.marketplace .row img {
    border-radius: 50%;
}

.explore {
    background-image: linear-gradient(to right, #0f0049, #000000);
    color: white;
}

.explore .heading {
    padding-left: 25px;
    padding-bottom: 20px;
    padding-top: 10px
}

.explore .heading .row {
    padding-left: 40px;
}

.explore .row img {
    border-radius: 20%;
   
}

html,
body {
    font-family: "Lato", sans-serif;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.global {
    padding: 0px;
    margin: 0px;
    color: black;
    margin-top: 30px;

}

.global h6 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.global ul {
    list-style-type: none;
    line-height: 30px;
    font-size: 15px;
    margin-bottom: 0;
}

.global ul a {
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

.global ul a:hover {
    opacity: 0.8;
    color: #eee;
}

.global .social {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    padding-bottom: 0px;
    border-top: 1px solid black;
    margin-top: 50px;
}

.global .social a {
    font-size: 22px;
    width: 45px;
    height: 45px;
    line-height: 39px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #05ff05;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
    margin: 10px;
    color: balck;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}

.global .social a:hover {
    opacity: 0.9;
    box-shadow: 0px 1px 3px 2px rgba(176, 155, 155, 0.9);
}

.global .copyright {
    text-align: center;
    padding-top: 24px;
    font-weight: 500;
    opacity: 0.8;
    font-size: 16px;
}
.search{
    width: 35%;
    /* float: right */
    /* display:flex; */
    /* margin-top: 10px; */
}

@media (max-width: 767px) {

    .global h6 {
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .global ul {
        text-align: center;
    }

    .social {
        margin: 0 auto;
    }
}
