<div class="container px-4 py-5 mx-auto">
  <div class="card card0">
    <div class="d-flex flex-lg-row flex-column-reverse">
      <div class="card card1">
        <div class="row justify-content-center my-auto" style="background-color:rgb(35, 0, 44); border-radius:30px;color:white">
          <div class="col-md-8 col-10 my-5" >
            <!-- <div class="row justify-content-center px-3 mb-3">
                          <img id="logo" src="th.jpg">
                      </div> -->
            <h3 class="mb-5 text-center heading">Login to CryptoCity</h3>

            <h6 class="msg-info">Please login to your account</h6>

            <form #LoginForm="ngForm" (ngSubmit)="LoginUser(LoginForm.value)" novalidate autocomplete="off">
              <div class="form-group">
                <label class="form-control-label text-muted">Username</label>
                <input type="text" id="email" placeholder="Enter User Name " class="form-control" name="username"
                  placeholder="Please enter username" name="username" ngModel required minlength="4"
                  #username="ngModel" >
              </div>

              <div class="form-group">
                <label class="form-control-label text-muted">Password</label>
                <input type="password" id="psw" name="psw" placeholder="Password" class="form-control" name="password"
                  ngModel required minlength="7" #password="ngModel">
              </div>

              <div class="row justify-content-center my-3 px-3">
                <button [disabled]="!LoginForm.valid" type="submit" class="btn-block btn-color">log In</button>
              </div>
            </form>
            <div *ngIf="password.errors?.['required'] && password.touched">Password is mandatory...</div>
            <div *ngIf="password.errors?.['minlength'] && password.touched">Password Min 5 characters required...</div>
            <div *ngIf="username.errors?.['required'] && username.touched">username is mandatory...</div>
            <div *ngIf="username.errors?.['minlength'] && username.touched">username Min 5 characters required...</div>

          </div>
        </div>
        <div class="bottom text-center mb-5">
          <p  class="sm-text mx-auto mb-3">Don't have an account? <br><button routerLink="/register" class="btn btn-white ml-2">Sign
              Up</button></p>
        </div>
      </div>
      <div class="card card2">
        <div class="my-auto mx-md-5 px-md-5 right">
          <h3 class="text-white" style="text-align:center ;">About NFT</h3>
          <small class="text-white">
            <li>NFT stands for Non-Fungible Tokens.
            <li>An NFT is a unit of data, stored on a type of digital ledger called a blockchain, which can be sold and
              traded.</li>
            <li>NFTs range from digital goods such as the items are existing in virtual world to claim on physical
              assets.</li>
            <li>Each token is non-fungible because its metadata cannot be duplicated or replicated.</li>
            <li>Each tokens metadata allows such tracking because it contains information as to ownership and all other
              terms and conditions applicable to that token. </li>
            <li> In the coming years, we will see NFTs used to unlock entirely new use cases that are only made possible
              by crypto</li>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
