table{
    border: 1px solid black;
    text-align: center;
	vertical-align: middle;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    color: white;
  }
th{
    background-color: rgb(103, 103, 234);
}
td{
    background-color: rgb(51, 51, 122);
}

div{
    text-align: center;
}
/* .bn :focus{
    background-color: brown;
} */
/* .button:active {
    background-color: #ffbf00;
} */
button{
    width: 40%;
    background-image:linear-gradient(to right,#e6e8e8, #02f2d2);
    color:black;
    border-radius:5px;
}
button:hover,
button:focus {
    background: #0a78fe;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}