
<table style="width: 100%;">
    <thead>
        <tr>
            <th>Logo</th>
            <th>Name</th>
            <th>Edition</th>
            <th>Domain</th>
            <th>Your Vote</th>
        </tr>
    </thead>
    <tbody>
            <tr *ngFor="let card of cards">
                <td><img src={{card.imgpath}} width="55px"></td>
                <td>{{card.product_name}}</td>
                <td>{{card.productedition}}</td>
                <td>current bid : ${{card.productprice}}</td>
                <td><button>Vote</button></td>
            </tr>
    </tbody>

</table>
