  body{
    color:white;
    background-color:white
  }
  .name{
    margin-top: 65px;
    margin-left: 50%;
    margin-right: 50%;
    text-align: center;
    display: inline-block;
    font-family: "SF Pro Text", BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .profile{
    margin-left: 720px;
    display: inline-block;
    /* margin-top: 20px; */
  }
  .logo1{
    display: inline-block;
    margin-top: 15px;
    margin-left: 750px;
  }
  .logo2{
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
  }
  .logo3{
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
  }
  .table{
    border: dotted 2px;
    /* margin-left: 550px; */
    display: inline-block;
    margin-top: 20px;
    width: 700px;
    height: 90px;
    justify-content: center;
    padding-right: 0px;
    /* margin-right: 0px; */
    margin-left: 500px;
  }
  .table span{
    text-align: center;
  }
  .part1{
    padding-left: 50px;
  }
  .text{
    display: inline-block;
    margin-top: 20px;
    width: 700px;
    height: 90px;
    justify-content: center;
    padding-right: 0px;
    /* margin-right: 0px; */
    margin-left: 500px;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  /* *{
    margin: 0px;
    padding: 0px;
    background-color:black;
    color:white;
   
  } */
  .marketplace .row img{
    border-radius: 50%;
  }
  
  .explore .row .image-center .card-body{
    background-color: white;
    color: #000;
  }
  html, body{
    font-family: "Lato", sans-serif;
  }
  .row{
    margin-left: 0px;
    margin-right: 0px;
  }
  .global{
    padding: 50px;
    color:white;
    margin-top: 80px;
    /* background-image: url("../../assets/bg.png"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
  }
  .global .curve{
    position: absolute;
    top: 17%;
    background: #000;
    opacity: 0.2;
    width: 90%;
    height: 38%;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
  }
  .global h6{
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .global ul{
    list-style-type: none;
    line-height: 30px;
    font-size: 15px;
    margin-bottom: 0;
  }
  .global ul a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  .global ul a:hover{
    opacity: 0.8;
    color: #eee;
  }
  .global .social{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    padding-bottom: 0px;
    border-top: 1px solid #eee;
    margin-top: 50px;
  }
  .global .social a{
    font-size: 22px;
    width: 45px;
    height: 45px;
    line-height: 39px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #05ff05;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
    margin: 10px;
    color: #fff;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
  }
  .global .social a:hover{
    opacity: 0.9;
    box-shadow: 0px 1px 3px 2px rgba(255, 255, 255, 0.9);
  }
  .global .copyright{
    text-align: center;
    padding-top: 24px;
    font-weight: 500;
    opacity: 0.8;
    font-size: 16px;
  }
  .footer1 {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    padding-top: 15px;
    background-color: rgb(25, 4, 34);
    color: white;
    text-align: center;
    vertical-align: center;
}
  @media (max-width: 767px) {
  
      .global .curve{
        left: 5%;
        height: 70%;
      }
      .global h6{
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .global ul{
        text-align: center;
      }
      .social{
        margin: 0 auto;
      }
    }