<div class="cont">
<div class="bg">
    <img style="z-index: -1;position: relative;"  src="/assets/images/c3.jpg" alt="bgImage" width="100%" height="20%" >
    </div>
<div class="profile">
    <img style="border-radius: 50%;border: solid 4px;border-color: white; position:absolute;top:410px;background-color: aliceblue;" src={{mobile.userlogo}}  alt="profile">
</div>
</div>
<p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;</p>

<div class="name"><h2><b>{{ mobile.username }}</b></h2></div>
<div class="logo1">
   <a href="www.instagram.com"> <img src="/assets/images/insta.png" alt="logo1" height="30px"></a>
</div>
<div class="logo2">
   <a href="www.facebook.com"> <img src="/assets/images/fb.png" alt="logo2" height="30px"> </a>
</div>
<div class="logo3">
    <a href="www.twitter.com"><img src="/assets/images/web.png" alt="logo3" height="30px"></a>
</div>
<div class="table">
    <h4 class="part1"><span>Collectibles</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>Owners</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>Floor Price</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>Volume Traded</span></h4>
    <h4 class="part1"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;642</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>-</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>$ 10.5K</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>{{mobile.selled.length + mobile.selled.length}}</span></h4>
</div>
<div class="text">
    Take the red bean to join the garden. Azuki starts with a collection of 10,000 avatars that give you membership access to The Garden: a corner of the internet where artists, builders, and web3 enthusiasts meet to create a decentralized future. Azuki holders receive access to exclusive drops, experiences, and more. Visit azuki.com for more details.We rise together. We build together. We grow together.
</div>

<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'>
</header>

    <!--
<div class="row">
    <div class="col-md-2" *ngFor="let mobile of mobiles">
       <div class="card">
            <div class="image-center">
                <img src={{mobile.imgpath}} width="100%" height="250px">
            </div>
           <div class="card-body">
                <h5 class="card-title">{{mobile.productname}}</h5>
               <p class="card-price">{{mobile.description}}</p>
                <p class="card-text">{{mobile.price}}</p>
             </div>
            
           
       </div>
      </div>
      </div>
    -->

<section class="explore">
    <div class="container">
    <h4 class="heading">Explore</h4>
    <div class="row">
        <div class="col-md-3" *ngFor="let card of cards" >
           <div class="cart">
                  <div class="image-center" (click)="nftDetails(card)">
                    <img src={{card.imgpath}} width="100%" height="300px">
                  </div>
                  <div class="card-body">
                    <h6 class="card-title">{{card.productedition}}</h6>&nbsp;
                   <h4 class="card-price">{{card.product_name}}</h4>
                    <p class="card-text">{{card.productprice}}</p>
                    <h6 class="card-title">{{card.productdomain}}</h6>&nbsp;
                  </div>
             </div>
         </div>
    </div>
    </div>
    <div class="footer1">
        <img src="/assets/images/twitter.png" alt="twitter" height="40" width="55">&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="/assets/images/facebook.png" alt="facebook" height="40" width="28">&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="/assets/images/instagram.png" alt="instagram" height="40" width="52">&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="copyright">&copy; Copyright 2022 CryptoCity - Made with &hearts; by Team 1</span>
</div>
      </section>
