

<section class="home" id="home">

  <div class="content">
    <h6>NON-FUNGIBLE TOKEN</h6>
    <p>Your new asset is in the digital world. -- NFT</p>
    <!-- <a href="http://localhost:4200/MarketPlace" class="btn">Explore</a> -->
    <button class="GFG" routerLink="/MarketPlace">
      Explore
    </button>
  </div>


  <div class="video-container">
    <video src="../../assets/images/video7.mp4" id="video-slider" loop autoplay muted></video>
  </div>

</section>


