
.home{
  min-height: 100vh;
  display: flex;
  /* align-items:center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0; */
}
.home .content{
  text-align: center;
  margin: 0 auto;
  /* padding-left: 50%;
  padding-right: 50%; */
  padding-top: 16%;
}

.home .content h6{
  font-size: 2.5rem;
  color:#3591AC;
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;
  text-shadow: 0 .3rem .5rem black;

}
.home .content p{
  font-size: 1.6rem;
  color:white;
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;
  text-shadow: 0 .3rem .5rem black;

}
.home .content .GFG {
  background-color:black;
  border: 2px solid #3591AC;
  color: white;
  padding: 5px 9px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 10px 10px 0px 10px;
  cursor: pointer;

}
.home .video-container video{
  position: absolute;
  top:0; left: 0;
  z-index: -1;
  margin-top: 80px;
  height: 100%;
  width:100%;
  object-fit: cover;
}
/*
.home .controls{
  padding:1rem;
  border-radius: 5rem;
  background:rgba(0,0,0,.7);
  position: relative;
  top:10rem;
}

.home .controls .vid-btn{
  height:2rem;
  width:2rem;
  display: inline-block;
  border-radius: 50%;
  background:#fff;
  cursor: pointer;
  margin:0 .5rem;
}

.home .controls .vid-btn.active{
  background:var(--orange);
}
*/