body {

    background-image: linear-gradient(to right, #f2ccf9, #FFD54F);

}

.card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url('https://source.unsplash.com/WEQbe2jBg40/414x512');
    background-size: cover;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 30px;
}

.body {
    background: rgb(251, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}



.box {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
    background: linear-gradient(0deg, black, #444444);
}

.glowing::before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(90deg, #e8f74d, #ff6600d9, #00ff66, #13ff13, #ad27ad, #bd2681, #6512b9, #ff3300de, #5aabde);
    background-size: 400%;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    z-index: -5;
    animation: glower 30s linear infinite;
}

@keyframes glower {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 1000% 0;
    }

    100% {
        background-position: 0 0;
    }
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-image: linear-gradient(to right, #d259fb, #14025d);
    border-radius: 30px;

}

:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: white;
}

.neons {
    font-size: 30px;
    height: 0px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Balsamiq Sans", cursive;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 3px solid;
    background-color: transparent;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em rgba(248, 243, 243, 0.954), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    transition: all 0.5s;
}

.neons:hover {
    background-color: var(--clr-neon);
    color: rgb(245, 242, 242);
}