<div class="box glowing">
  <!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->

  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
            <div class="card-img-left d-none d-md-flex">
              <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body p-4 p-sm-5">
              <h6 class="card-title text-center mb-5 fw-light fs-5">Register</h6>
              <form #RegisterForm="ngForm" (ngSubmit)="validateRegister(RegisterForm.value)" novalidate>

                <div class="form-floating mb-3" style="border-radius:100px ;">
                  <input type="text" class="form-control" id="floatingInputUsername" placeholder="my username"
                    style="border-radius:20px ;" name="username" ngModel required minlength="4" #username="ngModel"
                    autofocus>
                  <label for="floatingInputUsername">Username</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="floatingInputEmail" placeholder="name@example.com"
                    style="border-radius:20px ;" name="email" ngModel required minlength="8" #email="ngModel">
                  <label for="floatingInputEmail">Email address</label>
                </div>

                <hr>

                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                    style="border-radius:20px ;" name="password" ngModel required minlength="7" #password="ngModel">
                  <label for="floatingPassword">Password</label>
                </div>

                <div class="wrapper">
                  <button class="neons" [disabled]="!RegisterForm.valid" type="submit">Sign Up</button>
                </div>






              </form>
              <div *ngIf="email.errors?.['required'] && email.touched">Email id is mandetory...</div>

              <div *ngIf="email.errors?.['minlength'] && email.touched">Email Id Min 5 characters required...</div>
              <div *ngIf="password.errors?.['required'] && password.touched">Password is mandatory...</div>
              <div *ngIf="password.errors?.['minlength'] && password.touched">Password Min 5 characters required...
              </div>
              <div *ngIf="username.errors?.['required'] && username.touched">username is mandatory...</div>
              <div *ngIf="username.errors?.['minlength'] && username.touched">username Min 5 characters required...
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</div>